* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
  text-decoration: none;
  color: white;
}

.container{
  margin: 0 auto;
  max-width: 550px;
  display: flex;
  background-color: gainsboro;
  height: 100 vh;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

#btnSubmit{
  width: 100px;
  color:gainsboro;
  background-color: green;
  border-radius: 2px;
}
#btnDelete{
  width: 100px;
  color:gainsboro;
  background-color: red;
  border-radius: 2px;
}

form{
  justify-content: center;
  align-items: center;
  width: 95%;
  margin-top: 20px;
  padding: 15px;
}

table{
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 5px;
}

thead{
  background-color: blueviolet;
  text-transform: uppercase;
}

td{
  border: 1px solid gray;
}

.oculto{
  display: none;
}
.visible{
  display:block
}

.nav{
  background-color: rgb(7, 7, 71);
  padding: 20px;
  list-style: none;
  text-align: center;
}

.nav li{
  display: inline-block;
  font-size: 20px;
  margin: 10px 0px;
  padding-left: 20px;
  padding-right: 20px;
}

#fotoFront{
  width: 100%;
}

img{
  width: 100%;
}

#logo{
  width: 150 px;
  height: 150 px;
  background-color: beige;
  width: auto;
  background-image: url("../img/logoCar.jpg");
}

h1{
  padding: 15px;
}